<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>vasb@ry-qvtvgny.qr</string>
	<key>contactName</key>
	<string>Florian Eck</string>
	<key>description</key>
	<string>Helpful tools ELDS uses in their dev work.
See .. for details</string>
	<key>name</key>
	<string>ELDSTools</string>
	<key>uuid</key>
	<string>95267AA1-B2F0-40A3-8B9B-7E674FB01742</string>
</dict>
</plist>
